* {
    box-sizing: border-box;
}

.ag-theme-material {
    /* --ag-row-hover-color: transparent; */
}

.renderer-container {
    /* background-color: khaki; */
    display: flex;
}

.action-container {
    display: flex;
    flex-direction: row;
    padding: 0px 16px;
    justify-content: space-around;
    /* justify-content: center; */
    align-items: center;
    /* background-color: violet; */
    margin-left: auto;
}

.ag-theme-material .ag-row-hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15) !important;
    z-index: 2;
}

.grid-view {
    background-color: khaki;
    height: 50vh;
}

.mail-view {
    height: 50vh;
    background-color: violet;

}

.mail-view,
.grid-view {
    padding: 16px;
}

#myMail {
    border: 2px solid black;
}