/*.custom-focus {*/
/*    border: 1px solid #0091EA !important;*/
/*    outline: initial !important;*/
/*}*/
.ag-header {
    display: none
}

.ag-row-hover {
    /* putting in !important so it overrides the theme's styling as it hovers the row also */
    background-color: #c2dbff !important;
}

.ag-row {
    background-color: rgba(242,245,245,0.8);
}

.row-selected {
    background-color: #c2dbff !important;
}

.row-icon-hover img:hover {
    /*background-color: rgba(32, 33, 36, 0.059);*/
    /*background: lightgray;*/
    border: 7px solid lightgray;
    border-radius: 50%;
    opacity: 1;

}

.row-icon-hover img {
    background-color: #c2dbff;
    border: 7px solid #c2dbff;
    border-radius: 50%;
    margin-top: 1px;
    opacity: 1;

}

.ag-theme-material .email-read {
    font-weight: bold !important;
    background-color: white;
}